<!DOCTYPE html>
<html>
  <head>
    <title>MyFirstApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%# Bootstrap一時的に無効化 %>
    <%# <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" %> %>

    <%# --- 変更点 1: jsbundlingに切り替えると、この行が追加される --- %>
    <%# (rails javascript:install:react を実行すると自動で追加されるはずだよ) %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   
  </head>

  <body>
    <%
      # Reactに渡すためのデータ(props)をここで作成する
      header_props = {
        isLoggedIn: current_user.present?,
        csrfToken: form_authenticity_token
      }
      if current_user
        header_props[:currentUser] = {
          name: current_user.name,
          iconUrl: if current_user.icon.attached?
                    url_for(current_user.icon)
                  else
                    current_user.icon_url
                  end
        }
        header_props[:paths] = {
          root: root_path,
          items: items_path,
          coordinates: coordinates_path,
          wishes: wishes_path,
          user: user_path(current_user),
          logout: logout_path
        }
      else
        header_props[:paths] = {
          root: root_path,
          login: login_path
        }
      end
    %>

    <%# Reactコンポーネントを描画するための「コンセント」となるdiv %>
    <div id="header-container" data-props="<%= header_props.to_json %>"></div>
    <%# --- ここまで --- %>


    <%# フラッシュメッセージなど、君の既存のコードは、この下に続けて書く %>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <main class="pt-16">
      <%= yield %>
    </main>

  </body>
</html>